<div class="submit-success">
    <div class="icon-container"><%=image_tag 'Icon.svg', class: 'success-icon', alt: 'success'%></div>
    <div class="success-container">Entry Received</div>
    <div class="success-description">Thank you for entering! We will be announcing the winner on September 5, 2022 via email. Good luck!</div>
</div>
