<div class="welcome-text">WELCOME!</div>
<div class="signup-text">SIGN UP TO RECEIVE</div>
<div class="discount-text">10% OFF YOUR FIRST ORDER</div>
<div class="logo-text">
  <span>from</span>
  <span><%= image_tag 'new_agzaga_logo_black.svg', alt: 'Agzaga' %></span>
</div>
<div class="signup-now-text">Sign up now!</div>

# touched on 2025-05-22T20:41:08.723519Z
