<div class="d-none">
  <input type="text" name="order[ship_address_attributes][firstname]" value="foo" id="default-sfirstname-field">
  <input type="text" name="order[ship_address_attributes][lastname]" value="bar" id="default-slastname-field">
  <input type="text" name="order[ship_address_attributes][address1]" value="2484 Shake Rag Road">
  <input type="text" name="order[ship_address_attributes][city]" value="Clinton">
  <input type="text" name="order[ship_address_attributes][zipcode]" value="72031">
  <input type="text" name="order[ship_address_attributes][country_id]" value="233">
  <input type="text" name="order[ship_address_attributes][state_id]" value="3436">
  <input type="text" name="order[ship_address_attributes][phone]" value="1-888-249-7412" id="default-sphone-field">
</div>

# touched on 2025-05-22T21:21:53.447023Z
# touched on 2025-06-13T21:18:29.356785Z